services/stepfunctions/approval_flow/apigateway/statemachine.json
{
    "QueryLanguage": "JSONPath",
    "Comment": "A description of my state machine",
    "StartAt": "Lambda Callback",
    "States": {
      "Lambda Callback": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
        "OutputPath": "$",
        "Parameters": {
          "FunctionName": "arn:aws:lambda:ap-northeast-1:608728620263:function:lab2-send-email:$LATEST",
          "Payload": {
            "MyTaskToken.$": "$$.Task.Token"
          }
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2,
            "JitterStrategy": "FULL"
          }
        ],
        "Next": "Choice",
        "Assign": {
          "MyTaskToken.$": "$$.Task.Token"
        }
      },
      "Choice": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.result",
            "StringEquals": "approve",
            "Next": "Approve Notification"
          }
        ],
        "Default": "Reject Notification"
      },
      "Approve Notification": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "Message.$": "$",
          "TopicArn": "arn:aws:sns:ap-northeast-1:608728620263:lab2-sns"
        },
        "End": true
      },
      "Reject Notification": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "Message.$": "$",
          "TopicArn": "arn:aws:sns:ap-northeast-1:608728620263:lab2-sns"
        },
        "End": true
      }
    }
  }
  